html/favicon.ico filter=lfs diff=lfs merge=lfs -text
html/favicon-*.png filter=lfs diff=lfs merge=lfs -text
html/apple-touch-icon.png filter=lfs diff=lfs merge=lfs -text
html/icon-*.png filter=lfs diff=lfs merge=lfs -text
